body {
  font-family: 'segoe script';
  text-align: center;
  background-color: rgb(179, 129, 236);

}

.navbar, .navbar-brand {
  text-align: center;
  display: inline;
  width: 100%;
  background-color:  rgb(179, 129, 236);
  float: left;
}


.title {
  font-size: 30px;
}

p {
  font-size: 20px;
}

div.navbar-brand {
  padding-top: 2em;
  margin-bottom: 2em;
  
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline-block;
}

main {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 30em;
  margin-right: 30em;
}

.profile {
	clip-path: circle();
  width: 250px;
}



.project {
  width: 250px;
}

.label {
  text-align: left;
}

footer.footer {
  background-color:  rgb(179, 129, 236);
}

.footer-link {
  display: inline;
}

ul {
  list-style: none;
}

button {
  background-color: rgb(146, 70, 233);;
}



@media only screen and (max-width: 1024px) {
    main {
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 2em;
      margin-right: 2em;
    }
}